<div class="table-container" style="margin-top: 3%">
 <!-- <div>
    <div class="text-end mt-3" style="margin-right: 20%">
      <button mat-raised-button color="accent" class="btn btn-primary">
        (click)="mostrarMaisItens()"
        Mostrar Mais
      </button>
    </div> --> 
    <table>
      <thead>
        <tr>
          <th>Descrição</th>
          <th>Preço</th>
          <th>Data de Transferência</th>
          <th>Tipo de Transferência</th>
          <th>Categoria</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="
            let transacao of transactionsDatasInput | sortByOrder | limitTo
          "
        >
          <td>{{ transacao.descricao }}</td>
          <td>{{ transacao.preco | currency : "BRL" }}</td>
          <td>{{ transacao.dataTransacao | date : "dd/MM/yyyy HH:mm:ss" }}</td>
          <td>{{ transacao.tipoTransacao }}</td>
          <td>{{ transacao.categoria }}</td>
        </tr>
      </tbody>
    </table>
  </div>

