<div class="container">
  <div class="row justify-content-center align-items-center mt-2">
    <div class="col-md-6">
      <form [formGroup]="form" (ngSubmit)="gravar()" class="mt-3">
        <h1 class="fs-2 text-center mb-4">Adicionar Transação</h1>

        <div class="mb-3">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Descrição</mat-label>
            <input type="text" formControlName="descricao" matInput />
          </mat-form-field>
        </div>

        <div class="mb-3">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Preço</mat-label>
            <input type="text" formControlName="preco" matInput />
          </mat-form-field>
        </div>
        
        <div class="mb-3">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Tipo de Transação</mat-label>
            <mat-select formControlName="tipoTransacao">
              <mat-option [value]="tipoTransacaoEnum.ENTRADA">Entrada</mat-option>
              <mat-option [value]="tipoTransacaoEnum.SAIDA">Saída</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="mb-3">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Categoria</mat-label>
            <input type="text" formControlName="categoria" matInput />
          </mat-form-field>
        </div>

        <mat-dialog-actions class="text-center" style="margin-bottom: 5%;">
          <button  type="submit" mat-raised-button color="accent" routerLink="/dashboard" class="btn btn-primary mr-3 " style="margin-right: 15px" [disabled]="!form.valid">Salvar</button>
          <button type="button" mat-raised-button color="accent" routerLink="/dashboard" class="btn btn-outline-danger" (click)="handleCloseModal()">Voltar</button>
        </mat-dialog-actions>
      </form>      
    </div>
  </div>
</div>
